[Desktop Entry]
Icon=
Name=QtCurve
Name[cs]=QtCurve
Name[de]=QtCurve
Name[es]=QtCurve
Name[fi]=QtCurve
Name[fr]=QtCurve
Name[nl]=QtCurve
Name[pl]=QtCurve
Name[pt]=QtCurve
Name[pt_BR]=QtCurve
Name[ru]=QtCurve
Name[sk]=QtCurve
Name[sv]=QtCurve
Name[uk]=QtCurve
Name[x-test]=xxQtCurvexx
X-KDE-Library=kwin3_qtcurve
